{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Etiquette - {{ typeSelected.label }}{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Etiquettes</h3>
        <div class="card-body">
            <h4 class="text-success my-3">{{ typeSelected.label }}</h4>
            <hr>
            {% include '@ExpoActe/label/_form.html.twig' %}
        </div>
    </div>

{% endblock %}