{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Etiquette - {{ typeSelected.label }}{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Etiquettes: {{ typeSelected.label }}</h3>
        <div class="card-body">
            {% include '@ExpoActe/label/_form.html.twig' %}
        </div>
    </div>

{% endblock %}