{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Etiquettes{% endblock %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Etiquettes</h3>
        <div class="card-body">

            <ul class="list-group list-group-horizontal mb-3">
                {% for group in groups %}
                    <li class="list-group-item">
                        <a href="{{ path('expoacte_label_edit', {'type':group.value}) }}">
                            {{ group.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}