{% extends '@ExpoActe/base.html.twig' %}

{% block body %}
    <div class="card">
        <h3 class="card-header">New article</h3>
        <div class="card-body">

            {{ include('@ExpoActe/article/_form.html.twig') }}

        </div>
    </div>
{% endblock %}
