{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Accueil</h3>

        <div class="card-body">
            coucou
        </div>
        <div class="card-footer text-end">

        </div>
    </div>
{% endblock %}