{% extends '@ExpoActe/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">{{ certificate.name }}</h3>

        <div class="card-body">
            {{ formData|raw }}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('expoacte_certificate_admin_show', {'uuid': certificate.uuid}) }}" class="btn btn-secondary">
                <i class="ti ti-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
