{% extends '@ExpoActe/base.html.twig' %}

{% block title %}Liste des actes{% endblock %}

{% block body %}
    <div class="card">
        <h3 class="card-header">Consulter les actes</h3>
        <div class="card-body">
            <ul class="list-group list-group-horizontal mb-3">
                {% for certificateType in certificateTypes %}
                    <li class="list-group-item">
                        <a href="{{ path('expoacte_label_edit', {'type':certificateType.value}) }}">
                            {{ certificateType.label }}
                        </a>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
