{% extends '@ExpoActe/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Ajout d'un acte {{ name }}</h3>

        <div class="card-body">
            {{ formHtml|raw }}
        </div>

        <div class="card-footer text-end">
            <a href="{{ path('expoacte_home') }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
