{% extends '@ExpoActe/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Ajout d'un acte</h3>

        <div class="card-body">
            <ul class="list-group">
                {% for key,type in types %}
                    <li class="list-group-item">
                       <a href="{{ path('expoacte_certificate_new', {'type':key}) }}">{{ type }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('expoacte_home') }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}


