{% extends '@ExpoActe/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Nouvel utilisateur</h3>
        <div class="card-body">
           {% include '@ExpoActe/user/_form.html.twig' %}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('expoacte_user_index') }}" class="btn btn-secondary">
                <i class="ti ti-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
