<div id='openmap' style='width: 90%; height: 600px;' class="border border-primary my-3"></div>
<div {{ stimulus_controller('map', { 'name': geolocation.commune, 'latitude': geolocation.lat, 'longitude': geolocation.lon, 'drop': true}) }} >

</div>

