<div{{ attributes }}>
    <input type="text"
           name="municipality"
           required="required"
           data-model="query"
           placeholder="Indiquez le nom"
           autocomplete="off"
           class="form-control">

    {% if computed.getMunicipalities|length > 0 %}
        <div data-loading="addClass(opacity-50)" class="mt-3 row">
            <ul class="list-group">
                {% for municipality in computed.municipalities %}
                    <li class="list-group-item">
                        <a href="{{ path('expoacte_certificate_admin_new', {'type':'N','id': municipality.id}) }}">
                            {{ municipality.commune }} [{{ municipality.depart }}]
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
