{% extends '@ExpoActe/base.html.twig' %}

{% block body %}

    <div class="card">
        <h3 class="card-header">Nouveau paramètre</h3>

        <div class="card-body">
            {% include '@ExpoActe/parameter/_form.html.twig' %}
        </div>
        <div class="card-footer text-end">
            <a href="{{ path('expoacte_parameter_index') }}" class="btn btn-secondary">
                <i class="fa fa-arrow-left"></i> Annuler
            </a>
        </div>
    </div>

{% endblock %}
